{% extends 'base.html' %}


{% block back_button %}{% endblock  %}
    
{% block content %}
    <div class="login_block">
        <h1>Login</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="login_block_username">Username
                {{form.username}}
            </div>
            <div class="login_block_password">Password
                {{form.password}}
            </div>
            <input type="submit" value="Login">
        </form>
        <div class="forgot_reset_forms">
            <p>Forgot password? <a href="{% url 'password_reset' %}">Reset</a></p>
            <p>Don't have an account? <a href="{% url 'register_view' %}">Sing up</a></p>
        </div>
        
    </div>
    
{% endblock  %}
    