{% extends 'base.html' %}


{% block content %}
    <div class="password_reset_confirm_block">
        <div class="password_reset_confirm_header">
            <span>Set your new password</span>
        </div>
        <div class="password_reset_confirm_form">
            <form action="" method="post">
                {% csrf_token %}
                <div class="password_reset_confirm_field">
                    {{form.new_password.label}}
                    {{form.new_password}}
                </div>
                <div class="password_reset_confirm_field">
                    {{form.new_password_confirm.label}}
                    {{form.new_password_confirm}}
                </div>
                <div class="password_reset_confirm_submit_button">
                    <input type="submit" value="Reset">
                </div>
            </form>
        </div>
    </div>
{% endblock  %}
