{% extends 'base.html' %}


{% block content %}
<div class="password_reset_done_block">
    <div class="password_reset_done_header">
        <span>Password reset link was send</span>
    </div>
    <div class="password_reset_done_description">
        <p>To passed email was send a link to reset your password.
            Please fill the form and set your new password.
        </p>
    </div>
    <div class="password_reset_done_back_button">
        <a href="{% url 'login_view' %}">Log-in</a>
    </div>
</div>
{% endblock  %}
    