{% extends 'base.html' %}


{% block content %}
<div class="register_block">
    <div class="register_header">
        <span>Register</span>
    </div>
    <div class="register_form_block">
        <form action="" method="post">
            {% csrf_token %}
            <div class="register_field">
                {{form.username.label}}
                {{form.username}}
            </div>
            <div class="register_field">
                {{form.password.label}}
                {{form.password}}
            </div>
            <div class="register_field">
                {{form.confirm_password.label}}
                {{form.confirm_password}}
            </div>
            <div class="register_field">
                {{form.email.label}}
                {{form.email}}
            </div>
            <div class="register_submit_button">
                <input type="submit" value="Register">
            </div>
            <div class="register_links">
                <p>Already have an account? <a href="{% url 'login_view' %}">Login</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock  %}
    