{% extends 'base.html' %}
{% load static %}

{% block title %}Tasks{% endblock  %}
    
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="tools">
        <div class="create_new">
            <a href="{% url 'task_create' %}">Create new task</a>
        </div>
        <div class="search">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" class='search_field' name="search" id="" placeholder="Search..">
            </form>
        </div>
        <div class="filter">
            <img src="{% static 'images/filter.png' %}" alt="">
            <p>Filters</p>
            <div class="dropdown">
                <div class="filter_header">
                    <h2 class="filter_filter_by">Filter By</h2>
                </div>
                <div class="filters_contener">
                    <div class="filter_status">
                        <h3>Status filters</h3>
                        <p>Waiting</p>
                        <p>Started</p>
                        <p>Completed</p>
                    </div>
                    <div class="filter_priority">
                        <h3>Priority filters</h3>
                        <p>Low</p>
                        <p>Medium</p>
                        <p>High</p>
                    </div>
                    <div class="filter_date">
                        <h3>Date filters</h3>
                        <p>Soon</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sort">
            <img src="{% static 'images/sort.png' %}" alt="">
            <p>Sort</p>
            <div class="dropdown">
                <a href="{% url 'task_list' sort='title' %}">Name</a>
                <a href="{% url 'task_list' sort='-title' %}">- Name</a>
                <a href="{% url 'task_list' sort='status' %}">Status</a>
                <a href="{% url 'task_list' sort='-status' %}">- Status</a>
                <a href="{% url 'task_list' sort='priority' %}">Priority</a>
                <a href="{% url 'task_list' sort='-priority' %}">-Priority</a>
                <a href="{% url 'task_list' sort='date' %}">Date</a>
                <a href="{% url 'task_list' sort='-date' %}">- Date</a>
            </div>
        </div>
    </div>
    <div class="list">
        {% if tasks %}
            <table>
                <tr>
                    <th class="table_name">Name</th>
                    <th lcass="table_status">Status</th>
                    <th lcass="table_priority">Priority</th>
                    <th lcass="table_created">Created</th>
                </tr> 
                {% for task in tasks %}
                    <tr class="task">
                        <td class="task_object"><a href="{% url 'task_update' pk=task.id %}">{{task.title|truncatechars:40}}</a></td>
                        <td class="task_status">
                            <form action="{% url 'task_update' pk=task.id status=task.status %}" method="post">
                                {% csrf_token %}
                                {% if task.status == 'W' %}
                                    <button type="submit" class='status_button' id="waiting">{{task.get_status_display}}</button>
                                {% elif task.status == 'S'  %}
                                    <button type="submit" class='status_button' id="started">{{task.get_status_display}}</button>
                                {% elif task.status == 'C'  %}
                                    <button type="submit" class='status_button' id="complited">{{task.get_status_display}}</button>
                                {% endif %}
                            </form>
                        </td>
                        <td>{{task.get_priority_display}}</td>
                        <td>{{task.created}}</td>
                        <td><a href="{% url 'task_delete' pk=task.id %}"><img src="{% static 'images/delete.png' %}" alt=""></a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
        <h3>No tasks to list.</h3>
        <p><a href="{% url 'task_create' %}">Create new task</a></p>
        {% endif %}
    </div>
{% endblock  %}
