{% extends 'base.html' %}
{% load static %}

{% block title %}Tasks{% endblock  %}

{% block back_button %}{% endblock %}
    
{% block content %}
    <div class="main">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">x</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="container_tools">
            <div class="tools">
                <div class="create_new_task_block">
                    <a href="{% url 'task_create' %}">
                        <span class="material-symbols-outlined" id="create_icon">add</span>
                        <span>Create new task</span>
                    </a>
                </div>
                <div class="search_field_block">
                    <span class="material-symbols-outlined">search</span>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" class="search_field" name="search" placeholder="Search..">
                    </form>
                </div>
                <div class="filter_block" tabindex="1">
                    <span class="material-symbols-outlined">filter_alt</span>
                    <span>Filters</span>
                    <div class="dropdown">
                        <div class="filter_heared_block">
                            <span id="filter_header">Filter by</span>
                        </div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="filter_container">
                                <div class="filter_items_block">
                                    <span>Status</span>
                                    <div class="filter_item" tabindex="1">
                                        <label for="waiting">Waiting</label>
                                        <input type="radio" name="status" id="waiting" value="1W">
                                    </div>
                                    <div class="filter_item" tabindex="1">
                                        <label for="started">Started</label>
                                        <input type="radio" name="status" id="started" value="2S">
                                    </div>
                                    <div class="filter_item" tabindex="1">
                                        <label for="complited">Complited</label>
                                        <input type="radio" name="status" id="complited" value="3C" >
                                    </div>
                                </div>
                                <div class="filter_items_block">
                                    <span>Priority</span>
                                    <div class="filter_item" tabindex="0">
                                        <label for="low">Low</label>
                                        <input type="radio" name="priority" id="low" value="1L">
                                    </div>
                                    <div class="filter_item" tabindex="0">
                                        <label for="medium">Medium</label>
                                        <input type="radio" name="priority" id="medium" value="2M">
                                    </div>
                                    <div class="filter_item" tabindex="0">
                                        <label for="high">High</label>
                                        <input type="radio" name="priority" id="high" value="3H">
                                    </div>
                                </div>
                                <div class="filter_items_block">
                                    <span>Date</span>
                                    <input type="date" name="date">
                                    <input type="date" name="date">
                                </div>
                            </div>
                            <div class="submit_button_block">
                                <input type="submit" value="Filter">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sort_block">
                    <span class="material-symbols-outlined">swap_vert</span>
                    <span>Sort</span>
                    <div class="dropdown">
                        <div class="sort_item">
                            <a href="{% url 'task_list' sort='title' %}"><span>From A to Z</span></a>
                            <a href="{% url 'task_list' sort='-title' %}"><span>From Z to A </span></a>
                        </div>
                        <div class="sort_item">
                            <a href="{% url 'task_list' sort='-status' %}"><span>Wait-Complite</span></a>
                            <a href="{% url 'task_list' sort='status' %}"><span>Complite-Wait</span></a>
                        </div>
                        <div class="sort_item">
                            <a href="{% url 'task_list' sort='priority' %}"><span>Low-High</span></a>
                            <a href="{% url 'task_list' sort='-priority' %}"><span>High-Low</span></a>
                        </div>
                        <div class="sort_item">
                            <a href="{% url 'task_list' sort='-created' %}"><span>New-old</span></a>
                            <a href="{% url 'task_list' sort='created' %}"><span>Old-New</span></a>
                        </div>
                    </div>

                </div>
            </div>


            <div class="container">
                <div class="column_name"><span>Name</span></div>
                <div class="column_name"><span>Status</span></div>
                <div class="column_name"><span>Priority</span></div>
                <div class="column_name"><span>Date</span></div>
                <div class="column_name"><span>Delete</span></div>
                {% for task in tasks %}
                    
                    <div class="item item-1">
                        <a href="{% url 'task_update' pk=task.id %}"><span id="task_title">{{task.title|truncatechars:40}}</a></span>
                    </div>

                    <div class="item item-2">
                        <form action="{% url 'task_update' pk=task.id status=task.status priority=None %}" method="post">
                            {% csrf_token %}
                            {% if task.status == '1W' %}
                                <button type="submit" class='status_button' id="waiting">{{task.get_status_display}}</button>
                            {% elif task.status == '2S'  %}
                                <button type="submit" class='status_button' id="started">{{task.get_status_display}}</button>
                            {% elif task.status == '3C'  %}
                                <button type="submit" class='status_button' id="complited">{{task.get_status_display}}</button>
                            {% endif %}
                        </form>
                    </div>

                    <div class="item item-3">
                        <form action="{% url 'task_update' pk=task.id status=None priority=task.priority %}" method="post">
                            {% csrf_token %}
                            {% if task.priority == '1L' %}
                                <button type="submit" class='priority_button' id="low">{{task.get_priority_display}}</button>
                            {% elif task.priority == '2M'  %}
                                <button type="submit" class='priority_button' id="medium">{{task.get_priority_display}}</button>
                            {% elif task.priority == '3H'  %}
                                <button type="submit" class='priority_button' id="high">{{task.get_priority_display}}</button>
                            {% endif %}
                        </form>
                    </div>

                    <div class="item item-4">
                        <span>{{task.created}}</span>
                    </div>

                    <div class="item item-5">
                        <a href="{% url 'task_delete' pk=task.id %}">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>



{% endblock %}